.social-media img {
    width: 7vh;
    height: auto;
    margin-right: 10px;
    cursor: pointer;
}

.social-media a {
    display: inline-block;
    padding: 5px;
}

#contact h2 {
    color: #2F4F4F;
    font-family: "Playfair Display", serif;
    font-size: 7vw;
}

#contact h3 {
    color: #2F4F4F;
    font-family: "Playfair Display", serif;
    font-size: 7vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-weight: 600;
    border-bottom: 1.8vw solid #4A4A4A;
}

#contact p, ul, li {
    font-family: "EB Garamond", "Playfair Display", serif;
    line-height: 1.5;
    font-size: 4vw;
    color: #333333;
}

#contact ul {
    list-style-type: none;
}

#contact a {
    text-decoration: none;
    font-weight: 700;
    color: #774b4b;
}