* {
    font-family: "Playfair Display", Monteserrat, serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Smooth scrolling behavior */
html {
    scroll-behavior: smooth;
}

/* Add animations for sections to appear as you scroll */
.section {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Make section visible when it's in the viewport */
.section.visible {
    opacity: 1;
    transform: translateY(0);
}


/* Fonts */

.dm-serif-display-regular {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}

.dm-serif-display-regular-italic {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: italic;
}


.playfair-display-regular {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
}

.playfair-display-italic {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: italic;
}

.eb-garamond-regular {
    font-family: "EB Garamond", serif;
    font-weight: 400;
    font-style: normal;
}

.eb-garamond-italic {
    font-family: "EB Garamond", serif;
    font-weight: 400;
    font-style: italic;
}


/* Banner and Navbar */

.banner_tab a {
    text-decoration: none;
    color: white;
    display: block;
    white-space: nowrap; /* Keeps text from wrapping to next line */
    padding: 1vw;
    font-size: 2vw; /* Slightly larger font size for clarity */
    align-content: center;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}


.banner_tab a:hover {
    font-weight: bold;
    color: white;
    background-color: #4A4A4A;
    transform: scale(1.25);
}

.banner_tab a:active {
    color: black;
    background-color: #2A2A2A;
}

nav {
    background-color: #111111;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%; /* Ensure nav takes full width */
}

nav li {
    font-size: 24px;
    font-family: "Playfair Display", Georgia, serif;
    display: inline-block;
    text-align: center;
    color: white;
    margin: 1vw;
    background-color: #111111;
    line-height: 30px; /* Vertically centers the text */
    padding: 0; /* Padding handled by <a> */
}

/* Text Typography */
h1 {
    color: #2F4F4F;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 6vw;
    margin-top: 2vw;
    margin-left: 2vw;
    margin-bottom: 1vw;
    letter-spacing: 0.5vw;
}

h2 {
    color: #2F4F4F;
    font-family: "Playfair Display", serif;
    font-size: 5vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-weight: 600;
    border-bottom: 0.4vw solid #4A4A4A;
    padding-bottom: 0vw;
    text-align: center;
}


p, li {
    font-family: "Playfair Display", serif;
    line-height: 1.5;
    color: #333333;
}

a {
    font-weight: 500;
    transition: color 0.3s ease;
}

a:hover {
    color: #2E8B57;
}

body {
    background-color: #f4f4f4;
    margin: 0;
    margin-top: 80px;
    padding: 0;
    background-attachment: fixed; /* Ensure the background stays fixed */
}

.nav-links {
    display: flex;
    justify-content: space-around; /* Distribute space evenly */
    align-items: center; /* Align items vertically in the middle */
    flex-wrap: nowrap; /* Prevent wrapping */
    width: 100%;
    margin: 0 auto; /* Center the nav */
    padding: 0; /* Remove extra padding */
    overflow: hidden;
}

.nav-links li {
    flex-grow: 0; /* Prevent excessive growth */
    text-align: center; /* Center text within the items */
    padding: 10px 15px; /* Adjust padding to create balanced spacing */
    min-width: 40px; /* Minimum width to prevent too-small items */
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .nav-links {
        flex-direction: column; /* Stack the items vertically */
        position: absolute;
        top: 50px;
        max-height: 0;
        right: 0;
        opacity: 0;
        background-color: #111111;
        width: 100%;
        transition: max-height 0.3s ease-in-out;
        text-align: center;
    }

    ul {
        flex-direction: column; /* Stack the nav items vertically on small screens */
        align-items: center;
    }

    li {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    .nav-links.active {
        transform: translateY(+2vh);
        max-height: 60vh;
        opacity: 1;
    }


    /* Hamburger icon */
    .hamburger {
        display: block;
        color: white;
        padding: 20px;
    }

    img {
        margin: 10px 20px;
    }
    /* Style the links for mobile */
    .nav-links li {
        padding: 1px 0;
    }

    .nav-links li a {
        font-size: 4vw;
    }

    #hero, #second-hero, #break {
        background-attachment: scroll; /* Prevents stretching or fixing of view on small screens */
    }
}

img {
    max-width: 100%; /* Image width will not exceed the width of its container */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Prevent extra space below images */
    margin: 2vh auto; /* Center the image horizontally */
}

.container {
    width: 90%; /* Set the content width to 90% of the page width */
    max-width: 3500px; /* Prevent the content from becoming too wide */
    margin: 0 auto; /* Center the container */
    background-color: #f4f4f4;
    padding: 10px 30px; /* Add padding for better spacing */
}

@media screen and (min-width: 768px) {
    .nav-links {
        display: flex; /* Horizontal layout */
        flex-direction: row;
        justify-content: space-around;
        width: 100%; /* Ensure full width */
    }
    .nav-links li {
        flex-grow: 1; /* Equal distribution */
        text-align: center; /* Keep items centered */
    }

    .container {
        flex-grow: 1; /* Equal distribution */
    }

    img {
        max-width: 80%;
    }
}

figcaption {
    text-align: center;
    color: #2A2A2A;
}

#profile img {
    width: 100%;
    max-width: 300px; /* Ensures the image does not overflow its container */
    height: auto; /* Maintains the aspect ratio */
    margin: 0 auto;
    text-align: center;
    /* display: block; /* Removes the small gap below images */
}


.container {
    display: flex;
    justify-content: space-between;
}

.main-content {
    flex: 3;
    margin-right: 20px;
}

.sidebar {
    flex: 1;
    padding: 100px;
    background-color: #f4f4f4;
    border-radius: 10px;
}

.sidebar h2 {
    margin-bottom: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar a {
    text-decoration: none;
    color: #333;
}

.hero {
    background-image: url('/resources/images/triangle_background.jpg');
    background-blend-mode: color-dodge;
    opacity: 1;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    z-index: 10;
    flex-direction: column;
}

.hero h1 {
    color: white;
    font-family: "Playfair Display", Georgia, serif;
    text-shadow: #2A2A2A 5px 5px;
    word-spacing: 10px;
    letter-spacing: 8px;
    font-size: 10vw;
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.hero p {
    color: white;
    font-family: "Playfair Display", serif;
    text-shadow: #2A2A2A 3px 3px;
    font-size: 3.5vw;
    opacity: 0;
    line-height: 1.5;
    animation: fadeIn 3s ease-in forwards;
}

.container {
    background-image: url('/resources/images/triangle_background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: color-dodge;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    width: 100%;
    color: white;
    text-align: center;
    z-index: 10;
}


.cta-button {
    padding: 10px 20px;
    background-color: #ff6347;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
}

.intro p {
    font-size: 7vw;
}

.intro h3 {
    color: #2F4F4F;
    font-family: "Playfair Display", serif;
    font-size: 7vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-weight: 600;
    border-bottom: 1.8vw solid #4A4A4A;
}

#break {
    background-image: url('/resources/images/triangle_background.jpg');
    background-color: transparent;
    background-blend-mode: normal;
    opacity: 1;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 80vh;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    z-index: 10;
}

#second-hero {
    z-index: 9;
}

#second-hero p {
    margin: 2vw;
    color: white;
    font-family: "Playfair Display", serif;
    text-shadow: #2A2A2A 3px 3px;
    line-height: 1.5;
    font-size: 5vw;
    padding: 5vw;
    flex-direction: column;
}

#second-hero a {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
    border: 2px solid rgba(255, 255, 255, 0.3); /* Subtle border to blend with theme */
    color: white;
    padding: 1.5vw 3vw; /* More padding for a spacious feel */
    font-family: "Playfair Display", serif;
    font-size: 2vw; /* Responsive font size */
    letter-spacing: 0.2vw; /* Adjust letter spacing for elegance */
    border-radius: 10px; /* Slight rounding for modern look */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth hover transition */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

#second-hero a:hover {
    background-color: rgba(255, 255, 255, 0.4); /* Slightly darker on hover */
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4); /* Increase shadow on hover */
}

#second-hero a {
    text-decoration: none;
    color: #ffffff; /* Changed color to white to blend with background */
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
    background-image: url('/resources/images/triangle_background.jpg'); /* Original background */
    background-blend-mode: overlay; /* Blend the image with the background color */
    padding: 1vw 1.5vw;
    border-radius: 10px; /* Slightly more rounded corners for a smoother look */
    font-size: 7.5vw;
    font-family: "Playfair Display", serif;
    text-shadow: #000000 2px 2px; /* More subtle shadow */
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5); /* Stronger shadow for depth */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth hover transition */
}

/* Hover effect */
#second-hero a:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Slightly lighter semi-transparent background */
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.7); /* Enhanced shadow on hover for more depth */
}

/* Active effect (when button is clicked) */
#second-hero a:active {
    background-color: rgba(255, 255, 255, 0.4); /* Even lighter when active */
    transform: translateY(3px); /* Slight downward movement */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4); /* Subtle shadow reduction */
}


#professional-journey h2 {
    color: #2F4F4F;
    font-family: "Playfair Display", serif;
    font-size: 7vw;
}

#professional-journey h3 {
    color: #2F4F4F;
    font-family: "Playfair Display", serif;
    font-size: 7vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-weight: 600;
    border-bottom: 1.8vw solid #4A4A4A;
}

#professional-journey p {
    font-family: "EB Garamond", "Playfair Display", serif;
    line-height: 1.5;
    font-size: 3.5vw;
    color: #333333;
}

#break2 {
    background-image: url('/resources/images/triangle_background.jpg');
    background-color: transparent;
    background-blend-mode: normal;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100vw; /* Make sure it spans the entire width of the viewport */
    margin: 0;
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 9;
    padding: 10px 30px;
}

#break2 .text p {
    visibility: hidden; /* Hide the text while keeping the space */
}


.personal-interests h2 {
    color: #2F4F4F;
    font-family: "Playfair Display", serif;
    font-size: 7vw;
}

.personal-interests h3 {
    color: #2F4F4F;
    font-family: "Playfair Display", serif;
    font-size: 7vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-weight: 600;
    border-bottom: 1.8vw solid #4A4A4A;
}

.personal-interests p, figcaption {
    font-family: "EB Garamond", "Playfair Display", serif;
    line-height: 1.5;
    font-size: 3.5vw;
    color: #333333;
}

.personal-interests a {
    text-decoration: none;
    font-weight: 700;
    color: #774b4b;
}

.values-vision h2 {
    color: #2F4F4F;
    font-family: "Playfair Display", serif;
    font-size: 7vw;
}

.values-vision h3 {
    color: #2F4F4F;
    font-family: "Playfair Display", serif;
    font-size: 7vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-weight: 600;
    border-bottom: 1.8vw solid #4A4A4A;
}

.values-vision p {
    font-family: "EB Garamond", "Playfair Display", serif;
    line-height: 1.5;
    font-size: 3.5vw;
    color: #333333;
}

.values-vision a {
    text-decoration: none;
    font-weight: 700;
    color: #774b4b;
}